In [162]:
import pandas as pd

df_closed_deals = pd.read_csv("https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_closed_deals_dataset.csv")
df_customers = pd.read_csv("https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_customers_dataset.csv")
# df_geolocation = pd.read_csv("https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_geolocation_dataset.csv")
# df_marketing_qualified = pd.read_csv("https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_marketing_qualified_leads_dataset.csv")
df_order_items = pd.read_csv("https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_order_items_dataset.csv")
df_order_payments = pd.read_csv("https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_order_payments_dataset.csv")
df_order_reviews = pd.read_csv("https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_order_reviews_dataset.csv")
df_olist_orders = pd.read_csv("https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_orders_dataset.csv")
df_olist_products = pd.read_csv("https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_products_dataset.csv")
df_olist_sellers = pd.read_csv("https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_sellers_dataset.csv")
# df_product_category = pd.read_csv("https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/product_category_name_translation.csv")


df_order_items
df_olist_sellers

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [163]:
df_order_reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,ParabÃ©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rÃ¡pida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [164]:
df_closed_deals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         842 non-null    object
 1   seller_id                      842 non-null    object
 2   sdr_id                         842 non-null    object
 3   sr_id                          842 non-null    object
 4   won_date                       842 non-null    object
 5   business_segment               841 non-null    object
 6   lead_type                      836 non-null    object
 7   lead_behaviour_profile         665 non-null    object
 8   has_company                    63 non-null     object
 9   has_gtin                       64 non-null     object
 10  average_stock                  66 non-null     object
 11  business_type                  832 non-null    object
 12  declared_product_catalog_size  69 non-null     float64
 13  declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), object(12)
memory usage: 92.2+ KB

In [165]:
df_closed_deals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         842 non-null    object
 1   seller_id                      842 non-null    object
 2   sdr_id                         842 non-null    object
 3   sr_id                          842 non-null    object
 4   won_date                       842 non-null    object
 5   business_segment               841 non-null    object
 6   lead_type                      836 non-null    object
 7   lead_behaviour_profile         665 non-null    object
 8   has_company                    63 non-null     object
 9   has_gtin                       64 non-null     object
 10  average_stock                  66 non-null     object
 11  business_type                  832 non-null    object
 12  declared_product_catalog_size  69 non-null     float64
 13  declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), object(12)
memory usage: 92.2+ KB

- 1er KPI: Porcentaje de aumento o disminuciÃ³n en las ventas mensuales y trimestrales

  VariaciÃ³n mensual

In [166]:
df_order_payments_data = df_order_payments[['order_id', 'payment_value']] 
df_olist_orders_data = df_olist_orders[['order_id', 'order_purchase_timestamp']]
inner_join_df= pd.merge(df_order_payments_data, df_olist_orders_data, on='order_id', how='inner')
inner_join_df['order_purchase_timestamp'] = pd.to_datetime(inner_join_df.order_purchase_timestamp, format='%Y-%m-%d')
inner_join_df.groupby(inner_join_df.order_purchase_timestamp.dt.month)['payment_value'].mean()

order_purchase_timestamp
1     148.994677
2     145.323755
3     155.523792
4     161.408334
5     157.676773
6     155.774417
7     153.263458
8     150.855409
9     161.511407
10    161.228972
11    151.962711
12    148.985940
Name: payment_value, dtype: float64

  VariaciÃ³n trimestral

In [167]:
df_order_payments_data = df_order_payments[['order_id', 'payment_value']] 
df_olist_orders_data = df_olist_orders[['order_id', 'order_purchase_timestamp']]
inner_join_df= pd.merge(df_order_payments_data, df_olist_orders_data, on='order_id', how='inner')
inner_join_df['order_purchase_timestamp'] = pd.to_datetime(inner_join_df.order_purchase_timestamp, format='%Y-%m-%d')
inner_join_df.groupby(inner_join_df.order_purchase_timestamp.dt.month)['payment_value'].mean()

orders_by_month = len(inner_join_df)
orders_by_first_trimester = inner_join_df[inner_join_df.order_purchase_timestamp.dt.month <= 3 ]
orders_by_second_trimester = inner_join_df[(3 < inner_join_df.order_purchase_timestamp.dt.month) & (inner_join_df.order_purchase_timestamp.dt.month<=6)]
orders_by_third_trimester = inner_join_df[(6 < inner_join_df.order_purchase_timestamp.dt.month) & (inner_join_df.order_purchase_timestamp.dt.month<=9)]
orders_by_fourth_trimester = inner_join_df[(9 < inner_join_df.order_purchase_timestamp.dt.month) & (inner_join_df.order_purchase_timestamp.dt.month<=12)]

orders_by_first_trimester = inner_join_df.groupby(orders_by_first_trimester.order_purchase_timestamp.dt.month).nunique().mean()['order_purchase_timestamp']
orders_by_second_trimester = inner_join_df.groupby(orders_by_second_trimester.order_purchase_timestamp.dt.month).nunique().mean()['order_purchase_timestamp']
orders_by_third_trimester = inner_join_df.groupby(orders_by_third_trimester.order_purchase_timestamp.dt.month).nunique().mean()['order_purchase_timestamp']
orders_by_fourth_trimester = inner_join_df.groupby(orders_by_fourth_trimester.order_purchase_timestamp.dt.month).nunique().mean()['order_purchase_timestamp']

print((orders_by_first_trimester/orders_by_month)*100)
print((orders_by_second_trimester/orders_by_month)*100)
print((orders_by_third_trimester/orders_by_month)*100)
print((orders_by_fourth_trimester/orders_by_month)*100)

8.440662521096842
9.36507325337389
8.123969222673571
5.795455274692131

- 2do KPI: Estados de Brazil en los que mÃ¡s se vende y menos se vende

In [168]:
inner_join_df= pd.merge(df_customers, df_olist_orders, on='customer_id', how='inner')
orders_by_city = inner_join_df.groupby(inner_join_df.customer_state).nunique()
print(orders_by_city.sort_values(by=['order_delivered_customer_date'])['order_delivered_customer_date'].head(3))
print(orders_by_city.sort_values(by=['order_delivered_customer_date'], ascending=False)['order_delivered_customer_date'].head(3))

customer_state
RR    41
AP    67
AC    80
Name: order_delivered_customer_date, dtype: int64
customer_state
SP    40325
RJ    12334
MG    11340
Name: order_delivered_customer_date, dtype: int64

Estados en los que menos se vende:
- Roraima
- AmapÃ¡
- Acre


Estados en los que mÃ¡s se vende:
- SÃ¤o Paulo
- RÃ­o de Janeiro
- Minas Gerais

- 3er KPI: Frecuencia de compra mensual y trimestral.

  Porcentaje de frecuencia de compra mensual

In [169]:
df_orders = df_olist_orders[['order_id']]
df_customer = df_olist_orders[['customer_id', 'order_purchase_timestamp']]
df_customer['order_purchase_timestamp'] = pd.to_datetime(df_customer.order_purchase_timestamp, format='%Y-%m-%d')
orders_by_month = len(df_orders)
customers_by_month = df_customer.groupby(df_customer.order_purchase_timestamp.dt.month).nunique()
(customers_by_month/orders_by_month)*100

<ipython-input-169-5b0bd211ea29>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_customer['order_purchase_timestamp'] = pd.to_datetime(df_customer.order_purchase_timestamp, format='%Y-%m-%d')

                          customer_id  order_purchase_timestamp
order_purchase_timestamp
1                            8.114359                  8.071118
2                            8.555827                  8.502529
3                            9.948613                  9.880230
4                            9.395521                  9.349262
5                           10.632435                 10.575115
6                            9.464909                  9.426695
7                           10.376002                 10.313653
8                           10.903953                 10.840599
9                            4.329200                  4.308082
10                           4.986877                  4.970787
11                           7.586408                  7.517020
12                           5.705896                  5.675727

  Porcentaje de frecuencia de compra trimestral

In [170]:
df_customer = df_olist_orders[['customer_id', 'order_purchase_timestamp']]
df_customer['order_purchase_timestamp'] = pd.to_datetime(df_customer.order_purchase_timestamp, format='%Y-%m-%d')
orders_by_month = len(df_customer)
customers_by_first_trimester = df_customer[df_customer.order_purchase_timestamp.dt.month <= 3 ]
customers_by_second_trimester = df_customer[(3 < df_customer.order_purchase_timestamp.dt.month) & (df_customer.order_purchase_timestamp.dt.month<=6)]
customers_by_third_trimester = df_customer[(6 < df_customer.order_purchase_timestamp.dt.month) & (df_customer.order_purchase_timestamp.dt.month<=9)]
customers_by_fourth_trimester = df_customer[(9 < df_customer.order_purchase_timestamp.dt.month) & (df_customer.order_purchase_timestamp.dt.month<=12)]

customers_by_first_trimester = df_customer.groupby(customers_by_first_trimester.order_purchase_timestamp.dt.month).nunique().mean()['order_purchase_timestamp']
customers_by_second_trimester = df_customer.groupby(customers_by_second_trimester.order_purchase_timestamp.dt.month).nunique().mean()['order_purchase_timestamp']
customers_by_third_trimester = df_customer.groupby(customers_by_third_trimester.order_purchase_timestamp.dt.month).nunique().mean()['order_purchase_timestamp']
customers_by_fourth_trimester = df_customer.groupby(customers_by_fourth_trimester.order_purchase_timestamp.dt.month).nunique().mean()['order_purchase_timestamp']

print((customers_by_first_trimester/orders_by_month)*100)
print((customers_by_second_trimester/orders_by_month)*100)
print((customers_by_third_trimester/orders_by_month)*100)
print((customers_by_fourth_trimester/orders_by_month)*100)

<ipython-input-170-796bd8c9995d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_customer['order_purchase_timestamp'] = pd.to_datetime(df_customer.order_purchase_timestamp, format='%Y-%m-%d')

8.817959057799767
9.78369083174948
8.487444816524372
6.054511385310553

Se compra mÃ¡s productos en el mes de agosto y en el segundo trimestre del aÃ±o

- 4to KPI: Net promoter score (NPS). Objetivo: Aumentar NPS 8%.
PuntuaciÃ³n neta positivas

In [171]:
inner_join_df= pd.merge(df_order_reviews, df_order_items, on='order_id', how='inner')
sellers_positive_reviews = inner_join_df[inner_join_df['review_score'] >= 4.0]
sellers_positive_reviews.groupby(['seller_id'])['review_score'].mean()

seller_id
0015a82c2db000af6aaaf3ae2ecb0532    5.000000
001cca7ae9ae17fb1caed9dfb1094831    4.707602
002100f778ceb8431b7a1020ff7ab48f    4.794872
003554e2dce176b5555353e4f3555ac8    5.000000
004c9cd9d87a3c30c522c48c4fc07416    4.800000
                                      ...
ffc470761de7d0232558ba5e786e57b7    4.869565
ffdd9f82b9a447f6f8d4b91554cc7dd3    4.812500
ffeee66ac5d5a62fe688b9d26f83f534    4.750000
fffd5413c0700ac820c7069d66d98c89    4.767442
ffff564a4f9085cd26170f4732393726    5.000000
Name: review_score, Length: 2854, dtype: float64

PuntuaciÃ³n neta negativas

In [172]:
sellers_negative_reviews = inner_join_df[inner_join_df['review_score'] <= 2.0]
sellers_negative_reviews.groupby(['seller_id'])['review_score'].mean()

seller_id
0015a82c2db000af6aaaf3ae2ecb0532    1.000000
001cca7ae9ae17fb1caed9dfb1094831    1.244444
001e6ad469a905060d959994f1b41e4f    1.000000
002100f778ceb8431b7a1020ff7ab48f    1.125000
004c9cd9d87a3c30c522c48c4fc07416    1.416667
                                      ...
ffcfefa19b08742c5d315f2791395ee5    1.000000
ffdd9f82b9a447f6f8d4b91554cc7dd3    1.666667
ffeee66ac5d5a62fe688b9d26f83f534    1.000000
fffd5413c0700ac820c7069d66d98c89    1.153846
ffff564a4f9085cd26170f4732393726    1.000000
Name: review_score, Length: 1911, dtype: float64